.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1000;
}

.modal {
  width: 100%;
  max-width: 500px;

  background: white;
  border-radius: 12px;

  padding: 24px;
}

.close {
  border: none;
  background: none;

  font-size: 24px;

  float: right;

  &:hover {
    opacity: 0.9;
  }
}
